body {
  margin: 0;
}

h1 {
  color: blue;
}

header {
  height: 200px;
  background-color: peachpuff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: blue;
  color: white;
  display: grid;
  place-items: center;
}

.yearbook {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
}
